.button{
    background-color: #FBAF1B;
    padding: 13px 20px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    color: white;
}

.button.primary{
    background-color: white;
    color:  black;
}
.button.true{
    border: 1px solid blue
}
.button.false{
    border: 0px solid black;
}
